<div class="card text-center">
    <img src={{post.image}} class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <ul class="card-text list-group">

            <li class="list-group-item">
                {{user.company}}
            </li>
            <li class="list-group-item">
                {{user.email}}
            </li>
            <li class="list-group-item">
                {{user.phone}}
            </li>

        </ul>

    </div>